/* this is for slight tweaking of things */
.left-margin-5px {
    margin-left: 5px;
}

.right-margin-10px {
    margin-right: 10px;
}

/* condenses long strings to fit in tighter spaces (responsiveness) */
.dot-maker {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 80%;
}

/* makes the list group start a little lower */
.list-group-item:first-child {
    margin-top: 7.5%;
}

.list-group-item a {
    color: white;
    text-decoration: none;
    transition: .15s;
}

.list-group-item a:hover {
    color: gray;
}

.nav-list-group-item:first-child {
    margin-top: 0%;
    padding-bottom: 4%;
}

/* this tweak fixes the styling of the offcanvas header */
.offcanvas-header-fix {
    padding-top: 8px;
    padding-bottom: 8px;
}

.column-1-list-group-item:first-child {
    margin-top: 4.5%;
    padding-bottom: 15px;
}

.column-1-list-group-item, .nav-list-group-item {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    background-color: transparent;
}

.column-1, .nav-dark-styling {
    background-color: #212431;
    background-image: linear-gradient(to bottom, #212431, #292D3D);
}

.column-2-card:first-child {
    margin-top: 5%;
}

.column-2-card:hover {
    background-color: #B6B6CE;
}

.column-2-card {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    background-color: #E7E7EF;
    transition: .15s;
}

.column-2-card a {
    color: inherit;
    text-decoration: none;
}

.column-2 {
    background-color: #393C56;
    background-image: linear-gradient(to bottom, #393C56, #393C56);
}

.column-3-card:first-child {
    margin-top: 5%;
}

.column-3-card {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    background-color: #F3F3F7;
}

.column-3 {
    background-color: #52557A;
    background-image: linear-gradient(to bottom, #52557A, #5A5D87);
}